image: Visual Studio 2015 

init:
- appveyor version

#shallow_clone: true
platform: Any CPU

# restore packages
before_build:
  - nuget-restore -verbosity detailed

artifacts:
  - path: SimpleApp\bin\Debug

on_failure:
- ps: Get-EventLog AppVeyor -newest 10 | Format-List
